$bp-largest: 75em; // 1200/16
$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-small: 37.5em; //600/16
$bp-smallest: 20em; //500/16
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 35%;
    margin: 0;
  }
}
body {
  font-family: sans-serif;
}
